.about-section {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 50px;
  box-shadow: rgba(90, 169, 238, 0.25) 0px 6px 12px -2px,
    rgba(41, 129, 229, 0.3) 0px 3px 7px -3px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.about-section h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.title .txt {
  padding: 0 10px;
  font-weight: bold;
  color: rgb(228, 32, 87);
}

.about-me {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  margin-top: 40px;
  justify-content: space-between;
}

._description {
  line-height: 1.6;
  letter-spacing: 0.5px;
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

._description a {
  color: white;
  background: rgb(228, 32, 87);
  text-decoration: none;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: transform 0.5s ease;
}

._description a:hover {
  color: white;
  background: rgb(241, 77, 124);
  transform: scale(1.1);
}

.img img {
  width: 250px;
  height: 250px;
}

.profiles {
  margin-top: 40px;
  display: flex;
  margin-left: 40px;
  gap: 30px;
}

.profiles a {
  font-size: 30px;
}

.profiles .linkedin {
  color: rgb(48, 127, 211);
}

.profiles .github {
  color: black;
}

.profiles .leetcode img {
  width: 30px;
  height: 30px;
}

.profiles a:hover {
  transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 850px) {
  .about-me {
    flex-direction: column-reverse;
    align-items: center;
    gap:15px;
  }

  ._description {
    width: 100%;
    text-align: center;
  }
  ._description p{
    text-align: left;
  }

  .img img {
    width: 200px;
    height: 200px;
  }

  .profiles {
    margin-left: 0;
    justify-content: center;
  }

  ._description a {
    width: 50%;
  }
}

@media (max-width: 500px) {
  ._description a {
    width: 70%;
  }
}

@media (max-width: 300px) {
  ._description a {
    width: 90%;
  }

  .img img {
    width: 150px;
    height: 150px;
  }

  .profiles a {
    font-size: 24px;
  }

  .profiles .leetcode img {
    width: 24px;
    height: 24px;
  }
}
