.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    color:#FFFACD;
    position:fixed;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.nav-items {
    display: flex;
}

.nav-item {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}
.navbar-heading{
    color:#FFFACD;
}
.navbar-heading h1 span{
    color:rgb(249, 12, 75);
}
