.home {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 30%;
  width: 100%;
}

.leftbar {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  color: #FFFACD;
  margin-left: 7rem;
}

.rightbar {
  flex: 1;
}

.typewriter-container {
  display: inline-flex;
  align-items: center;
  white-space: nowrap; 
}

.typewriter-container p {
  margin: 0;
  font-size: 40px;
}

.typewriter-container .typewriter-text {
  margin-left: 5px;
  color: rgb(249, 12, 75);
  font-size: 40px;
}

.greet {
  font-size: 30px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}
