.home-container{
    height:300px;
    color: white;
}

.home-content h1{
    padding:10px;
    padding-top:80px;
    margin-left: 150px;
}
.home-content h2{
  color: rgb(142, 7, 74);
  margin-left: 150px;
}
.buttons{
    margin-left: 150px;
    display: flex;
    gap:20px;
}
.buttons .btn{
    color:white;
    background: red;
}