.contact-form {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-details {
  flex: 1;
  padding-right: 20px;
}

.message-me {
  flex: 1;
}

.input-group {
  margin-bottom: 15px;
}

.input-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.input-half {
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.input-full {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
